.dashboard {
    display: flex;
}

.createBtn {
    width: 16rem !important;
}

.dashboard-content {
    width: 80%;
    margin-left: 2rem;
}

.dashboard-title {
    font-family: "Josefin Sans", serif;
    font-weight: bold;
    color: #585858;
    font-size: 32px;
    margin-bottom: 40px;
}

.dashboard-card {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.dashboard-project-card {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    width: 20%;
}

.dashboard-title-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}