.dashboard-card-container {
    width: 20rem;
    height: 150px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    box-shadow: 0 0 6px #0000004D;
    background: #FFFFFF 0 0 no-repeat padding-box;
    padding: 10px 20px;
}

.img {
    width: 60px;
    height: 36px;
}

.dashboard-card-title {
    font-family: "Josefin Sans", serif;
    font-weight: bold;
    color: #585858;
    font-size: 40px;
}

.dashboard-card-description {
    font-family: "Josefin Sans", serif;
    font-size: 22px;
    color: #585858;
}