.dashboard-card {
    margin-top: 2rem;
}

.dashboard-card-container {
    width: 22rem;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 6px #0000004D;
    background: #FFFFFF 0 0 no-repeat padding-box;
    margin-top: 2rem;
}

.img {
    width: 60px;
    height: 36px;
}