.headerSignIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    background-color: #354052;
    text-align: center;
    color: #FFFFFF;
}

.title {
    font-family: "Varela", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 70px;
}

.text {
    font-family: "Varela", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
}