.headerSignIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #354052;
    text-align: center;
    color: #FFFFFF;
}

.title {
    font-family: "Josefin Sans", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 70px;
}

.text {
    font-family: "Josefin Sans", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
}

@media screen and (max-width: 1024px) {
    .headerSignIn{
        display: none;
    }
}